body {  background-color: rgb(233, 39, 39);
    color: rgb(100, 228, 41);
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    }
ol,ul {
    list-style: none;
    }
         
h1 { padding-top: 50px;
    padding-left: none;
    }


main { padding-left: 2em;
    padding-right: 2em;
    margin-left: 170px;
    padding-top: 1em;        
    } 

.menu{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family: sans-serif
    }
.menu li{
    display:inline;
    }
.menu a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
    background-color:rgb(211, 197, 208);
    color:rgb(15, 32, 32);
    }
.menu a:hover {
    background-color:#009;
    color:#fff;
    }


   
    

        